*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-main{
    padding: 2rem  8rem;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-main .nav-right{
    display: flex;
    gap: 1rem;
}

.header-main .nav-right a{
    text-decoration: none;
    color: black;
}

.hero{
    background-image: url("../assets/hero01.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 60vh;
    padding: 0 8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero .hero-left h1{
    color: white;
    font-size: 3.5rem;
}
.hero .hero-left h3{
    color: lightblue;
}

.hero .hero-right button{
    padding: 1.5rem 2rem;
    border: none;
    border-radius: 9px;
    background-color: navy;
    color: white;
    font-weight: bold;
}
.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 4rem;
    margin-bottom: 20rem;
    gap: 2rem;
}

.content .content-services{
    display: flex;
    align-items: center;
    gap: 4rem;
}

.content .content-services div{
    background-color: lightgray;
    padding: 2rem;
    width: 25rem;
}

.content .content-services div p{
    margin-top: 1rem;
    color: gray;
    line-height: 1.3;
}